bin/Debug/netcoreapp2.1/breakout.dll
obj/Debug/netcoreapp2.1/breakout.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.1/breakout.pdb
obj/Debug/netcoreapp2.1/breakout.dll
obj/Debug/netcoreapp2.1/breakout.pdb
obj/Debug/netcoreapp2.1/breakout.csprojAssemblyReference.cache
.gitignore
